#application_banner {
    color: #ffffff;
    text-align: center;
    padding-top: 6em;
    padding-bottom: 2em;
    background-color: #b30086;
    margin-bottom: 2em;
}

//#form_col {
//    border-right: 1px solid black;
//}