{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6" id="form_col">
            <form class="shadow p-3 bg-body-tertiary rounded" method="POST" action="" style="margin-right: 1em;">
                {% csrf_token %}
                <div class="row mb-3 justify-content-center">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Task Name">
                    </div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="priority" placeholder="Priority">
                    </div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="date" id="date" placeholder="Date">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success">Add Task</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            {% for i in tasks %}
            <div class="card shadow mb-2" style="width: 80%;">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Priority {{ i.priority }}</h6>
                    <p class="card-text">{{ i.date }}</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'todo_app:delete' i.id %}" class="card-link btn btn-danger">Done</a>
                        <a href="{% url 'todo_app:edit' i.id %}" class="card-link btn btn-warning">Update</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}